<div class = "img_header">
	<%= image_tag("/assets/header.jpg", :class => "img-fluid") %>
</div>

<section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <%= image_tag("/assets/woman.jpg", :class => "img-fluid mb-3 mb-lg-0") %>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>A solução para uma vida saudavél</h4>
            <p class="text-black-50 mb-0">Com vários exercícios que você pode fazer em qualquer lugar, sem necessidade de nada além do peso do seu corpo, uFit é o lugar para encontrar ajuda para uma vida mais fit.</p>
          </div>
        </div>
      </div>

<div class="text-center">
    <br><br>
      <h2>Categorias de Exercícios</h2>
      <br>

        <a href="#"> Braço </a>
        <a href="#"> Perna </a>
        <a href="#"> Abdomen </a>
        <a href="#"> Corpo Inteiro </a>
</div>
  </section>

    