<div class = "img_header">
	<%= image_tag("/assets/header.jpg") %>
</div>
<section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Sem desculpas para evoluir</h2>
          <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac tellus a nisl suscipit aliquet sed vitae ante. Fusce nec mi pharetra, cursus est vel, vestibulum sapien. In aliquet pharetra felis nec dignissim. Integer sit amet est justo. Nunc gravida turpis at felis euismod blandit. </p>
        </div>
      </div>
      <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
  </section>