.img_header{
	background-color: black; 
	text-align: center;
	padding-top: 80px;
}

#mainNav .nav-link{
	color: white;
}

#mainNav .navbar-brand{
	color: white;
}

.new_user{
	background-color: gray;
	text-align:center;
	padding-top:200px;
	padding-bottom:200px;
}

.container-fluid{
	background-color: black;
	height: 80px;
}
