.img_header{
	background-color: black; 
	text-align: center;
	padding-top: 80px;
}

#mainNav .nav-link{
	color: white;
}

#mainNav .navbar-brand{
	color: white;
}

#mainNav .navbar-shrink{
	background-color: red;
}

.navbar-expand-lg .navbar-light .fixed-top .navbar-shrink{
	background-color:red;
}