
<p>
  <strong>Nome do Exercício:</strong>
  <%= @exercise.name %>
</p>
 
<p>
  <strong>Categoria:</strong>
  <%= @exercise.category %>
</p>

<p>
  <iframe width="560" height="315" src= "<%= #{@exercise.url} %>" frameborder="0" allowfullscreen></iframe>
</p>